<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button [class.active]="isActive('/asesor/dashboard')" (click)="navigateTo('/asesor/dashboard')">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Planes</ion-label>
    </ion-tab-button>

    <ion-tab-button [class.active]="isActive('/asesor/contrataciones')" (click)="navigateTo('/asesor/contrataciones')">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Solicitudes</ion-label>
    </ion-tab-button>

    <ion-tab-button [class.active]="isActive('/asesor/chats')" (click)="navigateTo('/asesor/chats')">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>Chats</ion-label>
    </ion-tab-button>

    <ion-tab-button [class.active]="isActive('/asesor/perfil-asesor')" (click)="navigateTo('/asesor/perfil-asesor')">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

