.loading-container,
.empty-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  text-align: center;
  color: var(--ion-color-medium);
}

.empty-container ion-icon {
  font-size: 80px;
  margin-bottom: 20px;
}

