<div class="bottom-tabs">
  <div class="tab-item" [class.active]="isActive('/home')" (click)="navigateTo('/home')">
    <ion-icon name="home-outline"></ion-icon>
    <ion-label>Inicio</ion-label>
  </div>

  <div class="tab-item" [class.active]="isActive('/mis-contrataciones')" (click)="navigateTo('/mis-contrataciones')">
    <ion-icon name="cart-outline"></ion-icon>
    <ion-label>Mis Planes</ion-label>
  </div>

  <div class="tab-item" [class.active]="isActive('/chat')" (click)="navigateToChat()">
    <ion-icon name="chatbubbles-outline"></ion-icon>
    <ion-label>Chat</ion-label>
  </div>

  <div class="tab-item" [class.active]="isActive('/perfil')" (click)="navigateTo('/perfil')">
    <ion-icon name="person-outline"></ion-icon>
    <ion-label>Perfil</ion-label>
  </div>
</div>

